body{
    font-family:Georgia, 'Times New Roman', Times, serif ;
}
.container {
    margin: 0 auto;
    text-align: center;
}
h1{
    color: rgb(159, 3, 3);
    text-align: center;
}

input {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border-color: black;
    
}
button {
    padding: 8px;
    background-color: rgb(159, 3, 3);
    border-radius: 10px;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
    border-radius: 10px;
}

li {
    padding: 10px;
    margin: 5px 0;
    background: #f4f4f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    color: green;
}

